<style type="text/css">
    .button_action{
    list-style-type:none;
  }
    .form-group li{
    list-style-type:none;
  }
</style>

<%= semantic_form_for @pelada do |f| %>
    <%= f.input :title %>
    <%= f.input :begin, as: :string %>

    <%= f.input :host_id, as: :select, collection: SoccerTeam.all.map{|p| [p.team_name, p.id]}, input_html:{class: "form-control", id: "host_select"} %>

    <%= f.input :guest_id, as: :select, collection: SoccerTeam.all.map{|p| [p.team_name, p.id]}, input_html:{class: "form-control", id: "guest_select"} %>


    <%= f.action :submit, as: :button, button_html: {class: "btn btn-success", id: "btn_success", style: "padding: 6.8  px;"} %>
    <%= link_to 'Back', peladas_path, class: "btn btn-success", id: "" %>
<% end %>

<div id="mapip" style="height: 200px; width: 300px;"></div>

<script type="text/javascript">
$('#pelada_begin').inputmask('dd/mm/yyyy', {showMaskOnHover: false});

    var mymap = L.map('#mapid').setView([51.505, -0.09], 13);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18
}).addTo(mymap);


$(document).ready(function() {
    $("#host_select").select2({placeholder: "Selecione o time" });
    $("#guest_select").select2({placeholder: "Selecione o time" });

});
</script>
