<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pelada.title %>
</p>

<p>
  <strong>Begin:</strong>
  <%= @pelada.begin %>
</p>

<%= link_to 'Edit', edit_pelada_path(@pelada) %> |
<%= link_to 'Back', peladas_path %>
