<style type="text/css">
  .form-group li{
    list-style-type:none;
  }
</style>

<%= semantic_form_for @player, html:{class: "form-group"} do |f| %>
  <div class="form-group">
    <%= f.input :nome, input_html:{class: "form-control", placeholder: "Nome do Jogador"} %>

    <%= f.input :email, input_html:{class: "form-control", placeholder: "E-mail"} %>


    <%= f.input :birthdate, as: :string,input_html:{class: "form-control", placeholder: "Data de Nascimento"} %>

    <%= f.input :cpf, input_html:{class: "form-control", placeholder: "CPF"} %>

    <%= f.input :cell_phone, as: :string,input_html:{class: "form-control", placeholder: "Celular"} %>

    <%= f.input :home_phone, as: :string,input_html:{class: "form-control", placeholder: "Residencial"} %>

    <%= f.semantic_fields_for :address do |address| %>

    <%= address.input :cep, as: :string,input_html:{class: "form-control", placeholder: "CEP"} %>
    <%= address.input :street, as: :string,input_html:{class: "form-control", placeholder: "Rua"} %>
    <%= address.input :complement, as: :string,input_html:{class: "form-control", placeholder: "Complemento"} %>
    <%= address.input :city, as: :string,input_html:{class: "form-control", placeholder: "Cidade"} %>
    <%= address.input :state, as: :string,input_html:{class: "form-control", placeholder: "Estado"} %>

    <% end %>

    <%= f.input :position, collection: Player.positions.map{|p| [t("model.player.positions.#{p}"), p]}, input_html:{class: "form-control", placeholder: "Usar o Select2", id: "position_select"} %>

    <%= f.input :active, input_html:{class: "form-check-input"}, label: false %>

    <%= f.input :descricao, input_html:{class: "form-control"} %>

    <%= f.action :submit, as: :button, button_html: {class: "btn btn-success", id: "btn_success"} %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $("#position_select").select2(
    {placeholder: "Selecione a posição" } 
    );
});
$('#player_birthdate').inputmask('dd/mm/yyyy', {showMaskOnHover: false});
</script>
