
<!-- <div class="container"> -->
  <h2>Lista de Jogadores</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Celular</th>
        <th>Posição</th>
        <th>Em Atividade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><%= player.nome %></td>
          <td><%= player.email %></td>
          <td><%= player.cell_phone %></td>
          <td><%= player.position %></td>
          <td><%= player.active ? "Sim" : "Não" %></td>
          <td>
            <%= link_to "#", class: "btn btn-primary" do %>
              <i class="fa fa-male"></i>
            <% end %>
          </td>    
          <td>
            <%= link_to edit_player_path(player), class: "btn btn-warning" do %>
              <i class="fa fa-edit"></i>
            <% end %>
          </td> 
          <td>
            <%= link_to player_path(player), class: "btn btn-danger", method: :delete, data: {confirm: "Tem certeza?"} do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </td>       

        </tr>
      <% end %>
    </tbody>
  </table>
<!-- </div> -->